.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--mat-sys-background);
}

.content {
  flex: 1;
  width: 1200px;
  margin: auto;
  background-color: var(--mat-sys-surface-container);
}
