<mat-card class="auth-card">
  <div class="auth-header">
    <a [routerLink]="['/']"><h2>Znalostník</h2></a>
  </div>

  <h2 class="auth-title" i18n>Změna hesla</h2>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <input type="email" autocomplete="username" hidden />

    <mat-form-field appearance="outline">
      <mat-label i18n>Nové heslo</mat-label>
      <input matInput formControlName="newPassword" type="password" autocomplete="new-password" />
      @if (resetForm.get('newPassword')?.hasError('pattern')) {
      <mat-error i18n>Heslo musí mít velké písmeno, číslo a speciální znak</mat-error>
      }
      <mat-icon matSuffix>key</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label i18n>Potvrzení nového hesla</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        type="password"
        autocomplete="new-password"
      />
      @if (resetForm.get('confirmPassword')?.hasError('passwordMismatch')) {
      <mat-error i18n>Hesla se neshodují</mat-error>
      }
      <mat-icon matSuffix>verified_user</mat-icon>
    </mat-form-field>

    <div class="auth-register">
      <a mat-button [routerLink]="['/authentication/register']">
        <mat-icon>person_add</mat-icon>
        <p i18n>Zaregistrovat se</p>
      </a>
    </div>

    <button mat-flat-button type="submit" [disabled]="!resetForm.valid" i18n>Změnit heslo</button>
  </form>
</mat-card>
