<p>canvas works!</p>

<div>
  <button (click)="toggleEditingMode()" i18n>
    Jsi v editovacím režimu: {{ centralEditorService.isEditingMode() }}
  </button>
</div>
<input type="file" accept=".json" (change)="onFileSelected($event)" />
<button (click)="saveJson()" i18n>Uložit jako JSON</button>
<app-tool-bar />
<app-list-exercises />
<app-renderer
  [document]="centralEditorService.selectedExercise()"
  [editable]="centralEditorService.isEditingMode()"
  (dataChanged)="onBlockChanged()"
></app-renderer>
