.error-message {
  opacity: 1;
  animation: fadeOutAndHide 4s forwards;
}

@keyframes fadeOutAndHide {
  0%, 75% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
