<p>true-false works!</p>
@if (editable) {
<div>
  <label>
    <input
      type="radio"
      name="solution-{{exerciseId}}"
      [checked]="metadata.solution.answer === true"
      (change)="setSolution(true)"
    />
    {{ metadata.data.options.true }}
  </label>

  <label>
    <input
      type="radio"
      name="solution-{{exerciseId}}"
      [checked]="metadata.solution.answer === false"
      (change)="setSolution(false)"
    />
    {{ metadata.data.options.false }}
  </label>
</div>
} @else {
<div>
  <label [ngClass]="getFeedbackClass(true)">
    <input type="radio" [checked]="selectedAnswer === true" (change)="setAnswer(true)" />
    {{ metadata.data.options.true }}
  </label>

  <label [ngClass]="getFeedbackClass(false)">
    <input type="radio" [checked]="selectedAnswer === false" (change)="setAnswer(false)" />
    {{ metadata.data.options.false }}
  </label>
</div>
}
