.header-toolbar {
  background: var(--mat-sys-surface-container-high);
  border-bottom: 2px solid var(--mat-sys-outline-variant);
  height: 64px;
  justify-content: space-between;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  width: 20%;
  gap: 16px;
}

.header-center {
  width: 60%;
  justify-content: center;
}

.header-right {
  width: 20%;
  justify-content: flex-end;
  gap: 16px;
}

.header-title {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
}

.header-nav {
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
  color: var(--mat-sys-on-surface);
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  background: var(--mat-sys-primary);
  border-radius: 2px;
}
a:hover::after {
  width: 100%;
}
