<mat-toolbar class="header-toolbar">
  <div class="header-left">
    <img src="favicon.ico" class="logo" />
    <h2><a routerLink="/" class="header-title">Znalostník</a></h2>
  </div>

  <div class="header-center">
    <nav class="header-nav">
      <a routerLink="/dashboard" i18n> Dashboard </a>

      <a routerLink="/exercise-test" i18n> Cvičení </a>

      <a routerLink="/join-room" i18n> Připojit Místnost </a>

      <a routerLink="/create-room" i18n> Vytvořit Místnost </a>

      <a routerLink="/editor" i18n> Editor </a>
      <a routerLink="/exercise-editor" i18n> Nový Editor </a>
    </nav>
  </div>
  <div class="header-right">
    @if(!auth.user()) {
    <a routerLink="/authentication/login" i18n>Přihlásit se</a>
    }
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <a mat-menu-item routerLink="/account/preferences" i18n>
        <mat-icon>tune</mat-icon>
        Předvolby
      </a>

      @if(auth.user()) {
      <a mat-menu-item routerLink="/account/profile" i18n>
        <mat-icon>person</mat-icon>
        Můj Profil
      </a>

      <a mat-menu-item routerLink="/account/settings" i18n>
        <mat-icon>settings</mat-icon>
        Nastavení
      </a>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()" i18n>
        <mat-icon>logout</mat-icon>
        Odhlásit se
      </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
