:host {
  width: 100%;
}

.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.join-width {
  max-width: 420px;
  width: 420px;
}

h1 {
  margin: 0 0 16px;
  font: var(--mat-sys-display-large);
  letter-spacing: var(--mat-sys-display-large-tracking);
  font-weight: 600;
}

p {
  max-width: 600px;
  font: var(--mat-sys-body-large);
  letter-spacing: var(--mat-sys-body-large-tracking);
}

.chip {
  display: inline-block;
  padding: 8px 16px;
  border-radius: var(--mat-sys-corner-full);
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-medium);
  font-weight: 600;
}

@media (max-width: 900px) {
  .container {
    gap: 32px;
    flex-direction: column;
  }

  .join-width {
    width: 350px;
  }

  .text {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
}
