<div class="container">
  <mat-toolbar>
    <a [routerLink]="['/my-exercises']" i18n> Zpět </a>

    <button mat-button [matMenuTriggerFor]="fileMenu" i18n>Soubor</button>
    <button mat-button [matMenuTriggerFor]="editMenu" i18n>Úpravy</button>

    <mat-menu #fileMenu="matMenu">
      <input type="file" #fileInput accept=".json" hidden (change)="import($event)" />
      <button mat-menu-item (click)="fileInput.click()" i18n>Import</button>
      <button mat-menu-item (click)="export()" i18n>Export</button>
      <button mat-menu-item (click)="save()" i18n>Uložit - Ctrl+S</button>
    </mat-menu>

    <mat-menu #editMenu="matMenu">
      <button mat-menu-item (click)="undo()">Vrátit zpět - Ctrl+Z</button>
      <button mat-menu-item (click)="redo()">Udělat znova - Ctrl+Y</button>
    </mat-menu>
  </mat-toolbar>

  <ng-template #emptyState>
    <div class="empty-activity-state">
      <mat-icon>add_task</mat-icon>
      <h2 i18n>Žádná aktivita</h2>
      <p i18n>Vytvořte první aktivitu pro toto cvičení.</p>
      <button mat-flat-button (click)="openActivityDialog()" i18n>Vytvořit aktivitu</button>
    </div>
  </ng-template>

  <ng-template #activityContent>
    @if (edit.activity() !== undefined) {
    <div class="sidenav-content-container">
      <app-exercise-activity [activity]="edit.activity()!" [mode]='"feedback"'>
      </app-exercise-activity>
    </div>
    } @else {
    <ng-container *ngTemplateOutlet="emptyState"></ng-container>
    }
  </ng-template>

  <ng-template #toolbarContent>
    @if (edit.activity() !== undefined) {
    <app-exercise-toolbar [activity]="edit.activity()!"> </app-exercise-toolbar>
    } @else {
    <ng-container *ngTemplateOutlet="emptyState"></ng-container>
    }
  </ng-template>

  <ng-template #backgroundEditor>
    @if (edit.activity() !== undefined) {

    <div class="item">
      <h3 i18n>Dostupné možnosti pozadí</h3>

      <div class="styles">
        <div class="color">
          <label for="color-background" i18n>Barva pozadí</label>
          <input
            type="color"
            id="color-background"
            [value]="edit.activity()!.style().backgroundColor"
            (change)="setBackgroundColor($any($event.target).value)"
          />
        </div>

        <div class="color">
          <label for="color-border" i18n>Barva rámečku</label>
          <input
            type="color"
            id="color-border"
            [value]="edit.activity()!.style().borderColor"
            (change)="setBorderColor($any($event.target).value)"
          />
        </div>

        <div class="color">
          <label for="number-background" i18n>Zaoblení rámečku</label>
          <input
            type="number"
            class="number"
            id="number-background"
            [value]="edit.activity()!.style().borderRadius"
            (change)="setBorderRadius($any($event.target).valueAsNumber)"
          />
        </div>
      </div>
    </div>

    } @else {
    <ng-container *ngTemplateOutlet="emptyState"></ng-container>
    }
  </ng-template>

  <mat-sidenav-container class="sidenav-container desktop">
    <mat-sidenav class="sidenav-left" mode="side" position="start" opened>
      <mat-nav-list>
        <div class="center">
          <button mat-flat-button (click)="openActivityDialog()" i18n>
            <mat-icon class="icon-add">add_task</mat-icon>
            Nová aktivita
          </button>
        </div>
        <div class="scroll-container">
          <div cdkDropList (cdkDropListDropped)="drop($event)">
            @for (activity of document.getActivities()(); track activity.id()) {
            <div
              cdkDrag
              [cdkDragBoundary]="'.scroll-container'"
              class="slide-container"
              [class.selected]="edit.activity()?.id() === activity.id()"
            >
              <div class="vertical-line"></div>

              <div class="sidenav-slide-content">
                <p>{{ $index + 1 }}</p>

                <button class="delete-button" (click)="remove(activity.id())">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <app-slide
                cdkDragHandle
                class="slide"
                [activity]="activity"
                (click)="edit.editActivity(activity.id())"
              >
              </app-slide>

              <ng-template cdkDragPreview>
                <div></div>
              </ng-template>
            </div>
            }
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content desktop">
      <ng-container *ngTemplateOutlet="activityContent"></ng-container>
    </mat-sidenav-content>

    <mat-sidenav class="sidenav-right" mode="side" position="end" opened>
      <mat-tab-group class="sidenav-tabs">
        <mat-tab>
          <ng-template mat-tab-label i18n> Obsah </ng-template>
          <ng-container *ngTemplateOutlet="toolbarContent"></ng-container>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label i18n> Pozadí </ng-template>
          <div class="tab-content">
            <ng-container *ngTemplateOutlet="backgroundEditor"></ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
  </mat-sidenav-container>

  <mat-tab-group class="mobile" animationDuration="0">
    <mat-tab>
      <ng-template mat-tab-label i18n> Aktivity </ng-template>
      <div class="tab-page">
        <div class="scroll-container">
          <button mat-stroked-button (click)="openActivityDialog()" i18n>Nová aktivita</button>

          <div
            cdkDropList
            cdkDropListOrientation="mixed"
            class="activity-flex"
            (cdkDropListDropped)="drop($event)"
          >
            @for (activity of document.getActivities()(); track activity.id()) {
            <div
              cdkDrag
              class="slide-container"
              [class.selected]="edit.activity()?.id() === activity.id()"
            >
              <div class="sidenav-slide-content">
                <p class="slide-index">{{ $index + 1 }}</p>

                <button class="delete-button" (click)="remove(activity.id())">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <app-slide
                cdkDragHandle
                class="slide"
                [activity]="activity"
                (click)="edit.editActivity(activity.id())"
              >
              </app-slide>

              <ng-template cdkDragPreview>
                <div></div>
              </ng-template>
            </div>
            }
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label i18n> Přehled </ng-template>
      <div class="tab-page">
        <div class="sidenav-content">
          <ng-container *ngTemplateOutlet="activityContent"></ng-container>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label i18n> Editace </ng-template>
      <div class="tab-page">
        <ng-container *ngTemplateOutlet="toolbarContent"></ng-container>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label i18n> Pozadí </ng-template>
      <div class="tab-page tab-content">
        <ng-container *ngTemplateOutlet="backgroundEditor"></ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
