mat-card {
  height: 100%;
  width: 100%;
}

mat-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  margin-top: auto;
  justify-content: space-between;
}

app-slide {
  height: 100%;
}
