<div class="container">
  @if (mode() === 'view') {

  <div class="top">
    <app-text [content]="model().content().text" [style]="model().content().style"></app-text>
  </div>

  <div class="bottom">
    @for (item of model().options().options; track item) {

    <app-choice [content]="item.content()" [media]="item.media()" [style]="item.style"></app-choice>
    }
  </div>
  } @if (mode() === 'answering') {

  <div class="top">
    <app-text [content]="model().content().text" [style]="model().content().style"></app-text>
  </div>

  <div class="bottom" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (item of answer()!.submit.selected; track item) {
    <app-choice
      [content]="getOptionById(item)!.content()"
      [media]="getOptionById(item)!.media()"
      [style]="getOptionById(item)!.style"
      cdkDrag
    ></app-choice>

    }
  </div>
  } @if (mode() === 'feedback') {

  <div class="top">
    <app-text [content]="model().content().text" [style]="model().content().style"></app-text>
  </div>

  <div class="bottom">
    @if (!hasAnswer()) { @for (item of model().solution()?.correct; track item) {

    <app-choice
      [isCorrect]="true"
      [content]="getOptionById(item)!.content()"
      [media]="getOptionById(item)!.media()"
      [style]="getOptionById(item)!.style"
    ></app-choice>

    } } @else { @for (item of answer()!.submit.selected; track item) {

    <app-choice
      [isSelected]="true"
      [isCorrect]="isCorrect($index)"
      [content]="getOptionById(item)!.content()"
      [media]="getOptionById(item)!.media()"
      [style]="getOptionById(item)!.style"
    ></app-choice>

    } }
  </div>

  }
</div>
