.activity-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.activity {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  height: 64px;
  border-radius: var(--mat-sys-corner-medium);
  background: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-outline-variant);
  cursor: pointer;
}

.activity.selected {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border-color: var(--mat-sys-primary);
}

.activity:hover {
  background: var(--mat-sys-surface-container-high);
}

.activity.selected {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border-color: var(--mat-sys-primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p {
  margin: 0;
}

.name {
  font: var(--mat-sys-title-medium);
}

.description {
  font: var(--mat-sys-body-smallest);
}

.mat-mdc-dialog-title {
  background-color: var(--mat-sys-primary-container);
}

mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: var(--mat-sys-primary);
}
