@use '@angular/material' as mat;
@include mat.core();

html {
  color-scheme: light custom dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body.light-mode {
  color-scheme: light;
}

body.dark-mode {
  color-scheme: dark light;
}

body.custom-mode {
  --mat-sys-primary: var(--custom-primary);
  --mat-sys-secondary: var(--custom-secondary);
  --mat-sys-background: var(--custom-background);
  --mat-sys-on-background: var(--custom-on-background);
  --mat-sys-surface: var(--custom-surface);
  --mat-sys-tertiary: var(--custom-tertiary);
  --mat-sys-error: var(--custom-error);
}
