<div class="quiz">
  <div class="quiz-header"><h2 class="quiz-question">{{ model().content().content }}</h2></div>
  <div class="quiz-choices">
    @for(option of model().options().options; track option.id) {
    <div
      class="quiz-choice"
      [class.selected]="isSelected(option.id)"
      [class.correct]="isSolution(option.id)"
      [class.incorrect]="!isSolution(option.id)"
      [class.correct]="isCorrect(option.id)"
      [class.incorrect]="isIncorrect(option.id)"
      (click)="setAnswer(option.id)"
    >
      <label> {{ option.content }} </label>
    </div>
    }
  </div>
</div>
