@use '@angular/material' as mat;

@include mat.core();

$my-theme: (
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$azure-palette,
  ),
  typography: Roboto,
  density: 0,
);

html {
  color-scheme: light;
  @include mat.theme($my-theme);
  @include mat.system-classes();
}

body {
  margin: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}
