.auth-card {
  width: 416px;
  padding: 32px;
  border-radius: var(--mat-sys-corner-large);
  background: var(--mat-sys-surface-container);
  border: 1px solid var(--mat-sys-outline-variant);
  box-shadow: var(--mat-sys-level5);
}

.auth-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.auth-title {
  text-align: center;
  margin-bottom: 32px;
  color: var(--mat-sys-on-surface);
}

a {
  text-decoration: none;
}

p {
  color: var(--mat-sys-secondary);
}

@media (max-width: 400px) {
  .auth-card {
    width: 345px;
  }
}
